@import "./normalze.scss";
@import "./mixin.scss";
@import "./variables.scss";
@import "../fonts/iconfont.css";
@import "./element-variables.scss";
@import "./theme_dark.scss";
@import "./theme_light.scss";
//  全局样式
* {
  box-sizing: border-box;
}
body {
  line-height: 1.2em;
  font-family: arial, Helvetica, sans-serif;
}
// 去除滚动条
::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 1em;
}
// 将follcb foldpc 的动画写到一起
@keyframes fade {
  0% {
    box-shadow: inset 0 0 5px currentColor;
  }
  50% {
    box-shadow: inset 0 0 10px currentColor;
  }
  100% {
    box-shadow: inset 0 0 5px currentColor;
  }
}
