@import "./normalze.scss";
@import "./mixin.scss";
@import "./variables.scss";
@import "../fonts/iconfont.css";
@import "./element-variables.scss";
@import "./theme_dark.scss";
@import "./theme_light.scss";
//  全局样式
* {
  box-sizing: border-box;
}
body {
  line-height: 1.2em;
  // font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
  font-family: arial, Helvetica, sans-serif;
}
// 去除滚动条
::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dd {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 1em;
}

// 全局的btns的样式 这样不用在每个文件写这个样式
// .btns {
//   span {
//     position: absolute;
//     width: 120px;
//     height: 50px;
//     text-align: center;
//     animation: twinkle 2s infinite;
//     cursor: pointer;
//     &:nth-child(1) {
//       left: 0px;
//       top: 9px;
//     }
//     &:nth-child(2) {
//       right: 0px;
//       top: 9px;
//     }
//     .icon {
//       font-weight: bold;
//       font-size: 25px;
//       color: var(--aa-bottom-icon);
//     }
//     .icon1 {
//       font-weight: bold;
//       font-size: 25px;
//       color: var(--aa-bottom-icon1);
//     }
//     .icon2 {
//       font-weight: 800;
//       font-size: 25px;
//       color: var(--aa-bottom-icon2);
//     }
//   }
// }
