/*白天主题*/
:root[theme="light"] {
  // 基础色值
  --base-bg: #fff;
  --base-text-color: #000;

  // overview 的色值
  --overview-head-bg: linear-gradient(
    270deg,
    rgba(39, 75, 232, 0.8) 0%,
    rgba(90, 210, 250, 1) 100%
  );
  --overview-main-bg: rgba(255, 255, 255, 1);
  --overview-menu-bg: linear-gradient(
    180deg,
    rgba(29, 172, 219, 0.8) 0%,
    rgba(15, 32, 112, 0.8) 100%
  );
  --icon-color: #fff;
  --menu-item-active: #3766f4;
  --menu-item-active-bg: #fff;
  --cma-container-border: #000;
  --cma-title: #3766f4;
  --cma-box-shadow: #3766f4;

  // 各种看板主页头部公共部分的 色值
  --page-head-icon: rgba(6, 23, 99, 1);
  --page-head-title: linear-gradient(102.37deg, rgba(0, 227, 212, 1) 0%, rgba(0, 0, 0, 1) 100%);
  --page-head-name:#124d68;
  --react-left-bg: linear-gradient(100.74deg, rgba(0, 227, 210, 1) 0%, rgba(63, 119, 232, 1) 100%);
  --react-right-bg: linear-gradient(100.74deg, rgba(63, 119, 232, 1) 0%, rgba(0, 227, 210, 1) 100%);
  --react-text: #fff;

  // main-one 的 dataV中的表格标题的 色值
  --chart-title: rgba(63, 119, 232, 1);
  --chart-slip: rgba(38, 89, 191, 1);
  --chart-scroll-right-arraw: rgba(60, 125, 231, 1);
  --chart-scroll-header: linear-gradient(
    259.26deg,
    rgba(0, 227, 210, 1) 0%,
    rgba(63, 119, 232, 1) 100%
  );
  --chart-scroll-even: linear-gradient(
    270deg,
    rgba(102, 213, 250, 1) 0%,
    rgba(93, 121, 245, 1) 100%
  ); // 单
  --chart-scroll-odd: linear-gradient(
    270deg,
    rgba(90, 210, 250, 1) 0%,
    rgba(39, 75, 232, 1) 100%
  ); // 双
  // background: linear-gradient(100.74deg, rgba(0, 227, 210, 1) 0%, rgba(63, 119, 232, 1) 100%);

  // aa 看板的 色值
  --chart3-item-bg: linear-gradient(100.74deg, rgba(0, 227, 210, 1) 0%, rgba(63, 119, 232, 1) 100%);
  --chart3-item-des: #fff;
  --chart3-item-num: #fff;
  --aa-bottom-icon: rgba(46, 124, 235, 1);
  --aa-bottom-icon1: rgba(23, 191, 246, 1);
  --aa-bottom-icon2: rgba(1, 251, 254, 1);
  --aa-bottom-block-border: rgba(204, 204, 204, 1);
  --aa-bottom-block-bg: linear-gradient(100.74deg, rgb(0, 227, 210) 0%, rgb(63, 119, 232) 100%);
  --aa-item-bg: radial-gradient(50% 50%, rgba(26, 156, 44, 1) 0%, rgba(125, 245, 141, 1) 100%);

  // fol 的色值
  --fol-bar-text: rgba(88, 115, 150, 1);
  --fol-bottom-item-bg: linear-gradient(
    259.02deg,
    rgba(0, 227, 210, 1) 0%,
    rgba(63, 119, 232, 1) 100%
  );

  // 九宫格的颜色
  --output2-machine-bg: linear-gradient(
    259.26deg,
    rgba(0, 227, 210, 1) 0%,
    rgba(63, 119, 232, 1) 100%
  );
  --output2-header-item: #2b409b;

  // 制造戰情中心
  --makewar-table-text: rgba(20, 44, 153, 1);
  --makewar-item-title: rgba(63, 119, 232, 1);
  --makewar-item-rate: rgba(39, 75, 232, 1);
  --makewar-item-num: rgba(39, 75, 232, 1);
  --makewar-item-date: rgba(39, 75, 232, 1);

  // 制造层
  --make-base-text: #000;

  // 產出可視化平台 的样式
  --output--total-text:#000;

  // top25 的样式
  --defect-text:rgba(39, 75, 232, 1);
  --defect-border:rgb(0, 76, 227);
  --defect-row-one:linear-gradient(259.26deg, rgba(63, 119, 232, 1) 0%, rgba(0, 227, 210, 1) 100%);
}
