/*暗黑主题*/
:root[theme="dark"] {

  // 基础色值
  --base-bg: #000;
  --base-text-color: #fff;

  // overview 的色值
  --overview-head-bg: #162949; /*晚上大的背景颜色*/
  --overview-main-bg: #000;
  --overview-menu-bg: #162949;
  --icon-color: #fff;

  // 各种看板主页头部公共部分的 色值
  --page-head-icon: #3762ff;
  --react-bg: #0e1738;
  --react-text: #999;

  // main-one 的 dataV中的表格标题的 色值
  --chart-title: #68feff;
  --chart-slip: #bb98fa;
  --chart-scroll-arraw:#00baff;
  --chart-scroll-header:#20316e;
  --chart-scroll-even:#0a2732;  // 单
  --chart-scroll-odd:#003b51; // 双

  // aa 看板的 色值
  --chart3-item-bg:#20306b;
  --chart3-item-des:#74bf0c;
  --chart3-item-num:#ffff00;
  --aa-bottom-block-bg:rgba(53, 79, 173, 0.3);

}
