/*白天主题*/
:root[theme="light"] {
  // overview 的色值
  --base-bg: #fff;
  --base-text-color: #000;
  // overview 的色值
  --overview-head-bg: #fff;
  --overview-main-bg: #ddd;
  --overview-menu-bg: #000;
  --iconc-color: #000;

  // 各种看板主页头部公共部分的 色值
  // --page-head-icon: #8ad12d;
  // --react-bg: #8ad12d;
  // --react-text: #8ad12d;
  // main-one 的 dataV中的表格标题的 色值
  // --chart-title: #8ad12d;
  // --chart-slip: #8ad12d;
  // page-header区域的 色值
}
