@font-face {
  font-family: "iconfont"; /* Project id 3656248 */
  src: url('iconfont.ttf?t=1668414561744') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yueliang:before {
  content: "\e625";
}

.icon-taiyang:before {
  content: "\e635";
}

.icon-quanping1:before {
  content: "\e620";
}

.icon-suoxiao-xiaoping-12:before {
  content: "\e850";
}

.icon-menu:before {
  content: "\e605";
}

.icon-tuichu2:before {
  content: "\e603";
}

.icon-24gf-fullScreenEnter:before {
  content: "\ea7d";
}

.icon-shouye:before {
  content: "\e8c6";
}

.icon-24gf-next:before {
  content: "\ea7f";
}

.icon-huanfu:before {
  content: "\e62e";
}

.icon-fanhui:before {
  content: "\e77e";
}

.icon-arrowreduce:before {
  content: "\e6a9";
}

.icon-arrowrise:before {
  content: "\e6af";
}

.icon-shangjiantou:before {
  content: "\e600";
}

.icon-xiajiantou:before {
  content: "\e601";
}

.icon-shouye-shouye:before {
  content: "\e616";
}

.icon-hexagon:before {
  content: "\e602";
}

.icon-fenlei1:before {
  content: "\e604";
}

.icon-fenlei:before {
  content: "\e638";
}

.icon-yanjing:before {
  content: "\e61a";
}

.icon-tuichu1:before {
  content: "\e66a";
}

.icon-shezhi:before {
  content: "\e671";
}

.icon-tuichuquanping:before {
  content: "\e792";
}

.icon-quanping:before {
  content: "\e7cf";
}

.icon-liubianxing2:before {
  content: "\e649";
}

.icon-xiayiye:before {
  content: "\e699";
}

.icon-shangyiye:before {
  content: "\e77d";
}

.icon-tuichu:before {
  content: "\e61b";
}

.icon-flag:before {
  content: "\e954";
}

