@font-face {
  font-family: "iconfont"; /* Project id 3656248 */
  src: url("iconfont.ttf?t=1672917717260") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shezhi1:before {
  content: "\e608";
}

.icon-jiankong:before {
  content: "\e621";
}

.icon-tubiaozhizuomoban-152:before {
  content: "\e636";
}

.icon-shengchanjihuaguanli:before {
  content: "\e607";
}

.icon-jiedianguanli:before {
  content: "\eb64";
}

.icon-jueceyinqing:before {
  content: "\e6b3";
}

.icon-xiayiyehouyiye:before {
  content: "\e764";
}

.icon-bianji:before {
  content: "\e606";
}

.icon-zhizaoye:before {
  content: "\e66f";
}

.icon-gongju:before {
  content: "\e60a";
}

.icon-hege:before {
  content: "\e677";
}

.icon-yueliang:before {
  content: "\e625";
}

.icon-taiyang:before {
  content: "\e635";
}

.icon-quanping1:before {
  content: "\e620";
}

.icon-suoxiao-xiaoping-12:before {
  content: "\e850";
}

.icon-menu:before {
  content: "\e605";
}

.icon-tuichu2:before {
  content: "\e603";
}

.icon-24gf-fullScreenEnter:before {
  content: "\ea7d";
}

.icon-shouye:before {
  content: "\e8c6";
}

.icon-24gf-next:before {
  content: "\ea7f";
}

.icon-huanfu:before {
  content: "\e62e";
}

.icon-fanhui:before {
  content: "\e77e";
}

.icon-arrowreduce:before {
  content: "\e6a9";
}

.icon-arrowrise:before {
  content: "\e6af";
}

.icon-shangjiantou:before {
  content: "\e600";
}

.icon-xiajiantou:before {
  content: "\e601";
}

.icon-shouye-shouye:before {
  content: "\e616";
}

.icon-hexagon:before {
  content: "\e602";
}

.icon-fenlei1:before {
  content: "\e604";
}

.icon-fenlei:before {
  content: "\e638";
}

.icon-yanjing:before {
  content: "\e61a";
}

.icon-tuichu1:before {
  content: "\e66a";
}

.icon-shezhi:before {
  content: "\e671";
}

.icon-tuichuquanping:before {
  content: "\e792";
}

.icon-quanping:before {
  content: "\e7cf";
}

.icon-liubianxing2:before {
  content: "\e649";
}

.icon-xiayiye:before {
  content: "\e699";
}

.icon-shangyiye:before {
  content: "\e77d";
}

.icon-tuichu:before {
  content: "\e61b";
}

.icon-flag:before {
  content: "\e954";
}
